.container{ max-width: 960px}
.hdr{ height: 40px;}
.contribute{ display: block; width:80px; ; background-color: #ddd; padding: 4px 10px; margin-top: 6px; }
.banner{ height: 160px; background-color: #613b78; 
	     text-align: center; color: #FFF; font-size: 30px; padding-top:50px; }
.daily .date{ font-size: 20px; color: #349d4a; }
.daily .dt-hr{ height: 3px; }
.daily .post{ border-bottom: 1px dashed #e3ecec; padding-bottom: 14px; }
.daily .post .title a{ color: #063642; text-decoration: none;}
.daily .post .summary{ color: #999; }
.daily .post .meta .from{ font-size: 12px; color: #999; margin-left: 40px; }
.ftr{ height:80px; text-align: center; color: #999; padding-top: 40px;}